body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-size: 18px;
  line-height: 20px;

}

.container-fluid {
  padding: 0 13%;
}

.nav-item{
  font-size: 15px;
  line-height: 20px;
}

.about_img{
  width: 50px;
}

.about_li {
margin: 0 3%;
}